#search-input {
  border-radius: 30px;
  border: none;
}

#search-input:focus {
  border: none;
}

.search-btn {
  background-color: #547e32;
  border: none;
  color: #fff;
}

.search-btn:hover {
  background-color: #86bd59;
}

.header-btn a {
  padding: 10px 20px;
  text-decoration: none;
  color: #547e32;
  border: 1px solid #547e32;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header-btn a:hover {
  background-color: #547e32;
  color: #fff;
}

.header-btn a:nth-child(1) {
  margin-right: 10px;
}

#services h1 {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid #547e32;
}

#services .row .col-lg {
  border: 1px solid #e6e6e6c9;
  padding: 20px;
}
